.bg-box {
  width: 500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.box-red {
  background-color: red;
  width: 250px;
  height: 250px;
  position: absolute;
}
.box-blue {
  background-color: blue;
  width: 250px;
  height: 250px;
  position: absolute;
  margin-top: 125px;
  margin-left: 125px;
  z-index: 1000000;
}
.box-green {
  background-color: green;
  width: 250px;
  height: 250px;
  position: absolute;
  margin-left: 250px;
  margin-top: 250px;
}
